#task-area {
  height: 550px;
  margin: 0 auto;
  width: 750px;
  /* border: 1px solid; */
  overflow: scroll;
}

.popUp-window {
  position: absolute;
  display: none;
  z-index: 2;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
  height: 70px;
  left: 510px;
  top: 200px;
  /* border: 1px solid; */
}

.task {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
}

h3 {
  color: #4caf50;
}

h3 > u > span:hover {
  cursor: pointer;
}

#edit-bar {
  height: 28px;
  width: 300px;
  outline: none;
  margin: 0 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #4caf50;
  font-size: large;
  font-style: italic;
}
