body {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  background-color: rgb(248, 247, 247);
}

h1 {
  font-weight: 1;
  font-size: 50px;
  padding: 20px;
}

.lists {
  justify-content: space-evenly;
  display: flex;
  height: 600px;
  width: 100%;
  /* border: 1px solid; */
  flex-wrap: wrap;
}

button {
  background-color: #4caf50;
  color: white;
  height: 25px;
}
button:hover {
  cursor: pointer;
}

.innerBox {
  height: inherit;
  width: 60%;
  /* border: 1px solid red; */
  overflow: scroll;
}

#list-table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#list-table td,
#list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#list-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#list-table tr:hover {
  background-color: #ddd;
}

#list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

a {
  color: black;
}
