body {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  background-color: rgb(248, 247, 247);
}

h1 {
  font-weight: 1;
  font-size: 50px;
  padding: 20px;
  margin-top: 0px;
}

span {
  color: #4caf50;
}

.lists {
  justify-content: space-evenly;
  display: flex;
  height: 500px;
  width: 100%;
  /* border: 1px solid; */
  flex-wrap: wrap;
}

button {
  background-color: #4caf50;
  color: white;
  height: 25px;
}
button:hover {
  cursor: pointer;
}

#list-table {
  border-collapse: collapse;
  width: 100%;
}

#list-table td,
#list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#list-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#list-table tr:hover {
  background-color: #ddd;
}

#list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

a {
  color: black;
  height: 25px;
}

/* related to search-box */

.search-bar {
  height: 28px;
  width: 300px;
  outline: none;
  margin-left: 50px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #4caf50;
  font-size: large;
  font-style: italic;
  margin-top: 10px;
  margin-right: 10px;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  color: #4caf50;
  /* border: 1px solid; */
}

::placeholder {
  color: #4caf50;
}

#check {
  display: none;
}

#check + label > div {
  height: 3.5vh;
  width: 3vw;
  background: rgb(219, 219, 219);
  border-radius: 15px;
  display: flex;
  /* border: 1px solid; */
  align-items: center;
  padding: 0 2px;
  cursor: pointer;
}

#check:checked + label > div {
  flex-direction: row-reverse;
  background: #4caf50;
}

#check + label > div > div {
  height: 2.8vh;
  width: 1.5vw;
  border-radius: 50%;
  background: white;
}

#task {
  position: absolute;
}

.invisible {
  display: none;
  pointer-events: none;
}

.hide {
  visibility: hidden;
  position: absolute;
}

.innerBox {
  height: inherit;
  width: 60%;
  /* border: 1px solid red; */
  overflow: scroll;
}

.hiddenBox {
  height: inherit;
  width: 60%;
  /* border: 1px solid red; */
  overflow: scroll;
}

/* class for listing the tasks.... */

.list-table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.list-table td,
.list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.list-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.list-table tr:hover {
  background-color: #ddd;
}

.list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
