body {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  background-color: rgb(248, 247, 247);
}

h1 {
  font-weight: 1;
  font-size: 50px;
  padding: 20px;
  margin-top: 0px;
}

h3 {
  color: #4caf50;
  font-size: 23px;
  margin-bottom: 45px;
}

span {
  color: #4caf50;
}

.login-window,
.signup-window {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 400px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 0px 10px 0px #a0a0a07a;
}

.info {
  margin-top: 25px;
  color: #252323e0;
}

form {
  padding-bottom: 10px;
  margin: 0px;
  border-bottom: 1px solid #ddd;
}

.invisible {
  display: none;
}

::placeholder {
  color: #4caf50;
}

.text-bar {
  height: 28px;
  width: 300px;
  outline: none;
  /* margin: 0 10px; */
  background: transparent;
  border: none;
  border-bottom: 1px solid #4caf50;
  font-size: large;
  font-style: italic;
  padding: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  height: 25px;
}

.button {
  border-radius: 3px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  height: 25px;
  width: 67px;
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
}
