body {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  background-color: rgb(248, 247, 247);
}

h1 {
  font-weight: 1;
  font-size: 50px;
  padding: 20px;
  margin-top: 0px;
}

h3 {
  color: #4caf50;
}

span {
  color: #4caf50;
}

.platform {
  justify-content: space-evenly;
  display: flex;
  height: 500px;
  width: 100%;
  /* border: 1px solid; */
  flex-wrap: wrap;
}

#login-window,
#signup-window {
  height: inherit;
  width: 400px;
  /* border-radius: 10px; */
  /* border: 1px solid #4caf50; */
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 4px gray;
}

#signup-window {
  position: absolute;
  /* visibility: hidden; */
}

.invisible {
  visibility: hidden;
  pointer-events: none;
}

::placeholder {
  color: #4caf50;
}

.text-bar {
  height: 28px;
  width: 300px;
  outline: none;
  margin: 0 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #4caf50;
  font-size: large;
  font-style: italic;
  padding: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  height: 25px;
}

button:hover {
  cursor: pointer;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  height: 25px;
  width: 100px;
}
